.container {
  margin: auto;
  width: fit-content;
}

.onelinedescription {
  font-size: large;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.musicianimg {
  width: 100%;
  max-width: 500px;
}